<div id="dashboard">
  <app-dashboard-item
    [img]="'status.png'"
    [alt]="'A signal symbol'"
    [title]="'Server Status'"
  >
    <app-server-status />
  </app-dashboard-item>

  <app-dashboard-item [img]="'globe.png'" [alt]="'A globe'" [title]="'Traffic'">
    <div id="traffic">
      <p>Last 7 days</p>

      <app-traffic />
    </div>
  </app-dashboard-item>

  <app-dashboard-item
    [img]="'list.png'"
    [alt]="'A list of items'"
    [title]="'Support Ticket'"
  >
    <app-tickets />
  </app-dashboard-item>
</div>
