<div id="dashboard">
  <app-dashboard-item
    [img]="'status.png'"
    [alt]="'A signal symbol'"
    [title]="'Server Status'"
  >
    <div>
      @if (currentStatus === "online") {
        <p>Servers are online</p>
        <p>All systems are operational.</p>
      } @else if (currentStatus === "offline") {
        <p>Servers are offline</p>
        <p>Functionality should be restored soon.</p>
      } @else {
        <p>Server status is unknown</p>
        <p>Fetching server status failed.</p>
      }
    </div>
  </app-dashboard-item>

  <app-dashboard-item [img]="'globe.png'" [alt]="'A globe'" [title]="'Traffic'">
    <div id="traffic">
      <p>Last 7 days</p>

      <div id="chart">
        @for (dataPoint of dummyTrafficData; track dataPoint.id) {
          <div
            [style.height]="(dataPoint.value / maxTraffic) * 100 + '%'"
          ></div>
        }
      </div>
    </div>
  </app-dashboard-item>

  <app-dashboard-item
    [img]="'list.png'"
    [alt]="'A list of items'"
    [title]="'Support Ticket'"
  >
    <div id="status">
      <p>Todo...</p>
    </div>
  </app-dashboard-item>
</div>
